Repository nachtjasmin/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: bump_versions, update_srcinfo, format_fish_scripts

lefthook.yml:

remote:
  git_url: git@github.com:nachtjasmin/githooks
pre-commit:
  parallel: true
  commands:
    bump_versions:
      glob: "**/PKGBUILD"
      stage_fixed: true
      run: |
        sd "pkgver=.+" "pkgver=$(date '+%Y.%m.%d')+$(git rev-parse --short HEAD)" {staged_files}
    update_srcinfo:
      glob: "**/PKGBUILD"
      run: |
        for f in {staged_files}; do
          pushd $(dirname $f)
          makepkg --printsrcinfo > .SRCINFO
          git add .SRCINFO
          popd
        done
    format_fish_scripts:
      stage_fixed: true
      glob: "{*.fish,dot_local/bin/*}"
      run: fish_indent --write {staged_files}

Add bug to JIRA ticket types
  dot_local/bin/executable_git-jira
Due: format_fish_scripts

Sort git branches descending by last commit
  dot_gitconfig.tmpl
Due: none

Remove extensions from librewolf
  private_dot_librewolf/librewolf.overrides.cfg.tmpl
Due: none

Add yt-dlp configuration
  private_dot_config/yt-dlp/config
Due: none

Fix eza alias after recent changes
  private_dot_config/fish/config.fish
Due: format_fish_scripts

Show patch in commit message template
  dot_gitconfig.tmpl
Due: none

Add SSH keys to the agent
  private_dot_ssh/config
Due: none

git-jira: add possibility to edit the branch name
  dot_local/bin/executable_git-jira
Due: format_fish_scripts

git-jira: tell me if the token does not exist
  dot_local/bin/executable_git-jira
Due: format_fish_scripts

Allow device-specific git config overrides
  .chezmoiignore
  dot_gitconfig.tmpl
Due: none

yt-dlp: use --remux-video
  private_dot_config/yt-dlp/config
Due: none

some scripts
  dot_local/bin/executable_git-merge-locales
  dot_local/bin/executable_git-ours
  dot_local/bin/executable_git-resolve-conflict
  dot_local/bin/executable_git-theirs
  dot_local/bin/executable_git-unmerged
  dot_local/bin/executable_vimv
Due: format_fish_scripts

Remove unused files/branches from the ignore file
  .chezmoiignore
Due: none

zsh: remove all zsh stuff
  dot_zprofile.tmpl
  dot_zshrc
  private_dot_config/zsh/config/aliases.zsh
  private_dot_config/zsh/config/completions.zsh
  private_dot_config/zsh/config/exports.zsh
  private_dot_config/zsh/config/functions.zsh
  private_dot_config/zsh/config/fzf.zsh.tmpl
  private_dot_config/zsh/config/history.zsh
  private_dot_config/zsh/config/path.zsh
  private_dot_config/zsh/config/sheldon.zsh
  private_dot_config/zsh/suggestions/chezmoi.zsh
  private_dot_config/zsh/suggestions/cocogitto.zsh
  private_dot_config/zsh/suggestions/just.zsh
  private_dot_config/zsh/suggestions/sheldon.zsh
Due: none

i (don't) use arch (anymore) btw
  .chezmoiignore
  arch-packages/.gitignore
  arch-packages/nachtjasmin-app-typst/.SRCINFO
  arch-packages/nachtjasmin-app-typst/PKGBUILD
  arch-packages/nachtjasmin-audio/.SRCINFO
  arch-packages/nachtjasmin-audio/PKGBUILD
  arch-packages/nachtjasmin-base/.SRCINFO
  arch-packages/nachtjasmin-base/PKGBUILD
  arch-packages/nachtjasmin-desktop/.SRCINFO
  arch-packages/nachtjasmin-desktop/PKGBUILD
  arch-packages/nachtjasmin-devel-base/.SRCINFO
  arch-packages/nachtjasmin-devel-base/PKGBUILD
  arch-packages/nachtjasmin-devel-devops/.SRCINFO
  arch-packages/nachtjasmin-devel-devops/PKGBUILD
  arch-packages/nachtjasmin-devel-go/.SRCINFO
  arch-packages/nachtjasmin-devel-go/PKGBUILD
  arch-packages/nachtjasmin-devel-web/.SRCINFO
  arch-packages/nachtjasmin-devel-web/PKGBUILD
  lefthook.yml
  private_dot_config/paru/paru.conf.tmpl
Due: bump_versions, update_srcinfo

binaries: add lefthook
  .chezmoitemplates/binaries.toml.tmpl
Due: none

toolbox: change default image
  private_dot_config/containers/toolbox.conf
Due: none

pipewire: remove unused denoising config
  private_dot_config/pipewire/pipewire.conf.d/99-input-denoising.conf
Due: none

vim: always start on first line for commits
  dot_vimrc
Due: none

Migrate lefthook configuration
  lefthook.yml
Due: none

gitconfig: remove macOS-specific stuff
  dot_gitconfig.tmpl
Due: none

gitconfig: enable fetch.prunetags
  dot_gitconfig.tmpl
Due: none

gitconfig: sort tags by date
  dot_gitconfig.tmpl
Due: none

gitconfig: reduce waiting time until autocorrect kicks in
  dot_gitconfig.tmpl
Due: none

gitconfig: enable rerere
  dot_gitconfig.tmpl
Due: none

gitconfig: update stacked branches during rebase
  dot_gitconfig.tmpl
Due: none

gitconfig: add comments explaining several options
  dot_gitconfig.tmpl
Due: none

broot: add binaries, completions and config
  .chezmoiexternals/broot.toml
  private_dot_config/broot/conf.hjson
  private_dot_config/broot/launcher/installed-v4
  private_dot_config/broot/skins/catppuccin-macchiato.hjson
  private_dot_config/broot/skins/catppuccin-mocha.hjson
  private_dot_config/broot/skins/dark-blue.hjson
  private_dot_config/broot/skins/dark-gruvbox.hjson
  private_dot_config/broot/skins/dark-orange.hjson
  private_dot_config/broot/skins/solarized-dark.hjson
  private_dot_config/broot/skins/solarized-light.hjson
  private_dot_config/broot/skins/white.hjson
  private_dot_config/broot/verbs.hjson
  private_dot_config/fish/functions/br.fish
Due: format_fish_scripts

sheldon: remove it, zsh is no longer in use
  private_dot_config/sheldon/plugins.toml
Due: none

darkman: remove config, no longer in use
  dot_local/share/dark-mode.d/executable_kde-global-theme.sh
  dot_local/share/dark-mode.d/executable_kde-gtk-theme.sh
  dot_local/share/light-mode.d/executable_kde-global-theme.sh
  dot_local/share/light-mode.d/executable_kde-gtk-theme.sh
  private_dot_config/darkman/config.yaml
Due: none

fish: add flatpak binaries to PATH
  private_dot_config/fish/conf.d/add-flatpak-to-path.fish
Due: format_fish_scripts

fish: change helix invocations to abbreviation
  private_dot_config/fish/config.fish
Due: format_fish_scripts

systemd: add service to update dotfiles
  private_dot_config/systemd/user/update-dotfiles.service
Due: none

git: remove branch sorting
  dot_gitconfig.tmpl
Due: none

git: disable fetch.prunetags
  dot_gitconfig.tmpl
Due: none

yamlfmt: add global config
  private_dot_config/yamlfmt/yamlfmt.yml
Due: none

chore: add yaml formatting pre-commit hook
  lefthook.yml
Due: none

fish: hopefully fix the helix config this time
  private_dot_config/fish/config.fish
Due: format_fish_scripts

git-jira: adjust to new team standards
  dot_local/bin/executable_git-jira
Due: format_fish_scripts

fish: split up config
  private_dot_config/fish/conf.d/direnv.fish
  private_dot_config/fish/conf.d/disable-syntax-highlighting.fish
  private_dot_config/fish/conf.d/editor.fish
  private_dot_config/fish/conf.d/fnm.fish
  private_dot_config/fish/conf.d/starship.fish
  private_dot_config/fish/config.fish
  private_dot_config/fish/functions/ls.fish
  private_dot_config/fish/functions/multicd.fish
  private_dot_config/fish/functions/ssh.fish
Due: format_fish_scripts
